@tailwind base;
@tailwind utilities;
@tailwind components;

#root {
    background: url("../assets/app-bg.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}